<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_category_save_after">
        <observer name="ubmgmn_catalog_category_save_after"
                  instance="Rostilos\MegaMenu\Observer\Backend\CatalogCategorySaveAfterObserver"/>
    </event>
    <event name="catalog_category_delete_after">
        <observer name="ubmgmn_catalog_category_delete_after"
                  instance="Rostilos\MegaMenu\Observer\Backend\CatalogCategoryDeleteAfterObserver"/>
    </event>
    <event name="adminhtml_cmspage_on_delete">
        <observer name="ubmgmn_adminhtml_cmspage_on_delete"
                  instance="Rostilos\MegaMenu\Observer\Backend\CmsPageDeleteAfterObserver"/>
    </event>
</config>
