<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Rostilos. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Rostilos_Base::menu"
             sortOrder="9999"
             module="Rostilos_Base"
             title="Rostilos Extensions"
             resource="Rostilos_Base::settings" />

    </menu>
</config>
