#ub-top-bar {
    position: relative;
    height: 0;
    opacity: 0;
    width: 100%;
}

li.mega {

    span.menu-icon {
        height: 20px !important;
        width: 32px !important;
        display: inline-block;
    }
}

ul.level0[data-device-type="tablet"] > li.mega.has-child{
    @media screen and (min-width: @screen__l){
        a.mega.has-child{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &:after{
                display: block;
                margin-left: 2px;
                content: '';
                width: 0;
                height: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 5px solid #fff;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                right: 5px;
            }
        }
    }
}
//Reset to fixed issue breadcrumb in Product Page.
.nav-sections .loader{
    @media screen and (min-width: @screen__l){
        left: calc(-50vw - -50%);
        height: 50px;
    }
}
.nav-sections-item-content {
    padding: 0;

    .no-menu {
        display: block;
        padding: @indent__m 0;
        text-align: center;
    }

}

// Sticky style
.rs-nav-sticky {
    padding-bottom: 147px;

    .panel.wrapper {
        height: auto;
    }

    .page-header {
        // transition: all 0.4s linear;
        background: @color-white;
        position: sticky;
        //position: -webkit-sticky;
        top: 0;
        z-index: 99;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .panel.wrapper {
        width: 100%;
        transition: .4s linear;
    }

    .header.content {
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;

        .minicart-wrapper {
            order: 1
        }
    }

    &.sticky-fired {
        .panel {
            &.wrapper {
                min-height: 0;
                padding: 0;
                border-bottom: 0;
                font-size: 0;
                transition: .4s linear;
            }
        }

        .page-header {
            border-bottom: 1px solid @color-gray82;
        }

        .header.content {
            padding-top: 10px;

            .block-search {
                display: none;
            }

            .minicart-wrapper {
                margin-top: 5px;
            }
        }

        .nav-toggle {
            top: 8px;
        }

        .logo {
            margin: -5px 0 5px;
        }

        &:is(.nav-off-canvas) {
            .logo {
                margin-right: auto;
                margin-left: 20px;
            }
        }

        &:not(.nav-off-canvas) {
            .nav-sections {
                background: none;
                margin: -6px auto 0;

                ul.level0 {
                    &.horizontal-root {
                        position: static;

                        > li.mega {
                            &.has-child {
                                &.mega-hover {
                                    > .mega {
                                        position: relative;

                                        &:before {
                                            height: 60px;
                                            content: "";
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 100%;
                                        }
                                    }
                                }
                            }

                            &.dynamic-width {
                                .child-content {
                                    left: 20px;
                                }
                            }
                        }
                    }
                }
            }

            .header.content {
                .minicart-wrapper {
                    margin-top: 5px;
                }
            }
        }
    }
}

//
//  Sub-Menu
//  ---------------------------------------------
.child-content {
    .child-content-inner {
        display: flex;
        flex-wrap: wrap;
    }

    li.group > .mega {
        font-size: @font-size__l;
        padding: @indent__m 0 0 !important;
        text-transform: capitalize;
        @media screen and (min-width: @screen__m){
            text-transform: uppercase;
        }
    }

    .block.widget {
        margin-top: @indent__l;
        width: 100%;

        .block-title {
            color: @primary__color;
            line-height: 30px;
            text-transform: uppercase;

            strong {
                font-size: @font-size__l;
                font-weight: @font-weight__bold;
            }
        }

        .products-grid {
            li.product-item {
                margin: 0;
                width: calc(100% / 3) !important;

                .product-item-info {
                    float: left;
                    padding: 0;
                    width: 100%;

                    .ub-quick-view-btn-container {
                        display: none !important;
                    }

                    .product-item-name {
                        float: left;
                        margin: 5px 0;
                        width: 100%;
                    }

                    .price-box {
                        float: left;
                        margin: 0;
                        width: 100%;
                    }

                    .product-reviews-summary {
                        float: left;
                        margin-bottom: @indent__s;
                        width: 100%;

                        .reviews-actions {
                            display: none;
                        }
                    }

                    .product-item-actions {
                        float: left;
                        width: 100%;
                    }

                    div[class^='swatch-opt-'] {
                        display: none !important;
                    }

                    .product-item-inner {
                        display: none !important;
                    }

                    &.active,
                    &:focus,
                    &:hover {
                        background: none !important;
                        border: 0 !important;
                        margin: 0 !important;
                        padding: 0 !important;
                        position: relative !important;
                        z-index: 2 !important;
                        box-shadow: none !important;
                    }
                }
            }
        }
    }
}

//
//  Level - 0
//  ---------------------------------------------
ul.level0 {
    font-family: @font-family;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    opacity: 0;
    > li.mega {
        .mega {
            color: @text-color-main;
            font-weight: @font-weight__regular;
        }
    }

    //
    //  Level - 1
    //  ---------------------------------------------

    ul.level1 {
        list-style: none;
        margin: 0;
        padding: 0;

        > li.mega {
            margin: 0;
            padding: 0;
            position: relative;
            width: 100%;

            .mega {
                color: @primary__color;
                display: block;
                font-weight: @font-weight__regular;
                line-height: 35px;
                padding: 0;

                .sale-item {
                    color: @color-red9;
                }

                i {
                    margin-right: 5px;
                }

                &.ui-state-active,
                &:active,
                &:focus,
                &:hover,
                &.active {
                    color: @active__color;
                    text-decoration: none;
                }
            }

            .group-title {
                > .menu-desc {
                    img {
                        max-width: 160px;
                    }
                }
            }

            &.disable-shop-all {
                .menu-group-link {
                    display: none !important;
                }
            }

            &.has-child {
                &.mega-hover {
                    > .mega {
                        color: @active__color;
                    }
                }

                > .child-content {
                    opacity: 0;
                    left: 105%;
                    visibility: hidden;
                }

                &:focus,
                &:hover {
                    > .child-content {
                        opacity: 1;
                        visibility: visible;
                    }

                    .child-content {
                        top: 0;
                    }
                }
            }
        }
    }

    //
    //  Level - 2
    //  ---------------------------------------------
    ul.level2 {
        list-style: none;
        margin: 0;
        padding: 0;

        > li.mega {
            float: left;
            margin: 0;
            padding: 0;
            position: relative;
            width: 100%;

            > .mega {
                color: @primary__color;
                display: block;
                font-size: @font-size__base;
                font-weight: 400;
                line-height: 35px;
                padding: 0;

                i {
                    margin-right: 5px;
                }
                &.ui-state-active,
                &:active,
                &:focus,
                &:hover,
                &.active {
                    color: @active__color;
                    text-decoration: none;
                }
            }

            &.disable-shop-all {
                .menu-group-link {
                    display: none !important;
                }
            }

            &.has-child {
                > .child-content {
                    opacity: 0;
                    visibility: hidden;
                    left: 105%;
                }

                &:focus,
                &:hover {
                    > .child-content {
                        opacity: 1;
                        visibility: visible;
                        top: 0;
                    }
                }
            }
        }
    }

    //
    //  Level - 3
    //  ---------------------------------------------
    ul.level3 {
        list-style: none;
        margin: 0;
        padding: 0;

        > li.mega {
            float: left;
            margin: 0;
            padding: 0;
            position: relative;
            width: 100%;
            > a.mega {
                &.ui-state-active,
                &:active,
                &:focus,
                &:hover,
                &.active {
                    color: @text-color--hover;
                    text-decoration: none;
                }
            }
            > .mega {
                color: @primary__color;
                display: block;
                font-weight: @font-weight__regular;
                line-height: 35px;
                padding: 0;

                i {
                    margin-right: 5px;
                }
            }

            &.disable-shop-all {
                .menu-group-link {
                    display: none !important;
                }
            }

            &.has-child {
                > .child-content {
                    opacity: 0;
                    visibility: hidden;
                    left: 105%;
                }

                &:focus,
                &:hover {
                    > .child-content {
                        opacity: 1;
                        visibility: visible;
                        top: 10px;
                    }
                }
            }
        }
    }

    //
    //  Level - 4
    //  ---------------------------------------------
    ul.level4 {
        list-style: none;
        margin: 0;
        padding: 0;

        > li.mega {
            float: left;
            margin: 0;
            padding: 0;
            position: relative;
            width: 100%;

            > .mega {
                color: @primary__color;
                display: block;
                font-weight: @font-weight__regular;
                line-height: 35px;
                padding: 0;

                i {
                    margin-right: 5px;
                }

                &.ui-state-active,
                &:active,
                &:focus,
                &:hover,
                &.active {
                    color: @active__color;
                    text-decoration: none;
                }
            }

            &.disable-shop-all {
                .menu-group-link {
                    display: none !important;
                }
            }

            &.has-child {
                > .child-content {
                    opacity: 0;
                    visibility: hidden;
                    left: 105%;
                }

                &:focus,
                &:hover {
                    > .child-content {
                        opacity: 1;
                        visibility: visible;
                        top: 10px;
                    }
                }
            }
        }
    }

    //
    //  Level - 5
    //  ---------------------------------------------
    ul.level5 {
        list-style: none;
        margin: 0;
        padding: 0;

        > li.mega {
            float: left;
            margin: 0;
            padding: 0;
            position: relative;
            width: 100%;

            > .mega {
                color: @primary__color;
                font-weight: @font-weight__regular;
                display: block;
                line-height: 35px;
                padding: 0;

                i {
                    margin-right: 5px;
                }

                &.ui-state-active,
                &:active,
                &:focus,
                &:hover,
                &.active {
                    color: @active__color;
                    text-decoration: none;
                }
            }

            &.disable-shop-all {
                .menu-group-link {
                    display: none !important;
                }
            }

            &.has-child {
                > .child-content {
                    opacity: 0;
                    visibility: hidden;
                    left: 105%;
                }

                &:focus,
                &:hover {
                    > .child-content {
                        opacity: 1;
                        visibility: visible;
                        top: 10px;
                    }
                }
            }
        }
    }

    //
    //  Level - 6
    //  ---------------------------------------------
    ul.level6 {
        list-style: none;
        margin: 0;
        padding: 0;

        > li.mega {
            float: left;
            margin: 0;
            padding: 0;
            position: relative;
            width: 100%;

            > .mega {
                color: @primary__color;
                display: block;
                font-weight: @font-weight__regular;
                line-height: 35px;
                padding: 0;

                i {
                    margin-right: 5px;
                }
                &.ui-state-active,
                &:active,
                &:focus,
                &:hover,
                &.active {
                    color: @active__color;
                    text-decoration: none;
                }
            }

            &.disable-shop-all {
                .menu-group-link {
                    display: none !important;
                }
            }

            &.has-child {
                > .child-content {
                    opacity: 0;
                    visibility: hidden;
                    left: 105%;
                }

                &:focus,
                &:hover {
                    > .child-content {
                        opacity: 1;
                        visibility: visible;
                        top: 10px;
                    }
                }
            }
        }
    }
}
