@media screen and (max-width: @screen__l) {
    .rs-mega-menu{
        &__logo{
            padding: 0 24px;
            .logo{
                margin: 0 0 12px;
            }
        }

        &__wrapper {
            position: relative;
            min-height: 50px;
            transition: all .3s;
        }

        &__loader {
            position: absolute;
            width: 100%;
        }

    }
}

@media screen and (min-width: @screen__l) {
    .nav-toggle{
        display: none;
    }
    .rs-mega-menu{
        &__content {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            min-height: 40px;
        }
    }
}


header {
    position: relative;
    z-index: 50;
    width: 100%;
}
