@media screen and (max-width: @screen__l) {

    .rs-mega-menu{
        &__logo{
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 24px;
            .logo{
                margin: 0 0 12px;
            }
        }

        &__wrapper {
            position: relative;
            min-height: 50px;
            transition: all .3s;
        }

        &__loader {
            position: absolute;
            width: 100%;
        }
    }
}

header {
    position: relative;
    z-index: 50;
    width: 100%;
}
