@media screen and (max-width: @screen__l) {
    .rs-mega-menu{
        &__logo{
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 24px;
            .logo{
                margin: 0 0 12px;
            }
        }
    }
}
