@screen__xs: 480px;
@screen__s: 640px;
@screen__m: 1300px;
@screen__l: 1300px;
@screen__xl: 1440px;

@layout__max-width: 100%;

@font-size__s: 12px;
@font-size__base: 16px;
@font-size__l: 18px;

@font-weight__regular: 400;
@font-weight__semibold: 600;
@font-weight__bold: 700;
@font-weight__heavier: 800;

@indent__xs: 5px;
@indent__s: 5px;
@indent__m: 10px;
@indent__l: 15px;
@indent__xl: 20px;

@submenu__padding-left: 10px;

@color-black: #333;
@active__color: #000;
@color-white: #fff;
@color-yellow1: #FEDE1F;
@color-purple: #9D2063;
@color-gray82: gray;
@color-gray95: gray;
@color-red9: red;
@color-gray-bg: #F5F5F5;
@primary__color: #000;
@secondary__color: #9D2063;
@color-gray-darken3: #004;
@green-main: #8cbf43;
@secondary__color__light: #85A902;
@navigation-level0-item__color: #000;
@navigation-level0-item__text-decoration: none;

@border-color__base: #ECECEC;
